<!DOCTYPE html>
<html>
  <body>
     <p>
     {{proposal.speaker.firstName}},
     </p>
     <p>
     We are pleased to inform you that your talk on <u>{{proposal.session.title}}</u>
     has been accepted for the <b>{{proposal.conference.name}}</b>.
     </p>
     <p>
     Your session scheduled for {{decision.timeSlot.date}} at {{decision.timeSlot.time}}.
     </p>
     <p>
     Sincerely,<br/>
     The {{proposal.conference.name}} Event Team.
     </p>
  </body>
</html>